@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Flex:opsz@8..144&display=swap');
.contact_button {
    margin-left: 78vw;
    margin-bottom: 15px;
    border: none;
    height: 50px;
    width: 110px;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Roboto Flex", "Inter", sans-serif;
    font-size: medium;
}

.contact_button:hover {
    filter: brightness(125%);
}

.contact_button:active {
    filter: brightness(75%);
}

.toggle_switch {
    margin-left: 81.5vw;
    margin-top: 15px;
}