.contact_button {
    border: none;
    height: 50px;
    width: 110px;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    position: absolute;
    top: 80%;
    left: 80%;
}

.contact_button:hover {
    filter: brightness(125%);
}

.contact_button:active {
    filter: brightness(75%);
}

.toggle_switch {
    position: absolute;
    top: 10%;
    left: 83%;
}

.send_button {
    border: none;
    height: 40.9px;
    width: 90px;
    border-radius: 12.27px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
    .contact_button {
        position: static;
        align-self: flex-end;
        margin-right: 15px;
        margin-top: 5vh;
    }

    .toggle_switch {
        position: static;
        align-self: flex-end;
        margin-bottom: 5vh;
        margin-right: 15px;
    }
}